@font-face {
  font-family: "Chicago";
  src: url("../fonts/Chicago.woff")format("woff"),
    url("../fonts/Chicago.woff2")format("woff2"),
    url("../fonts/Chicago.ttf")format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Matrix Code NFI";
  font-style: normal;
  font-weight: normal;
  src: local("Matrix Code NFI"),
    url("../fonts/matrix code nfi.woff") format("woff");
}

@font-face {
  font-family: 'DatCub-Bold';
  font-style: normal;
  font-weight: normal;
  src: local("DatCub-Bold"), url("../fonts/DatCub-Bold.woff") format('woff');
}

@font-face {
  font-family: 'WhiteRabbit';
  font-weight: normal;
  font-style: normal;

  src: local("WhiteRabbit"), url("../fonts/WhiteRabbit.woff") format('woff');
}

@font-face {
  font-family: "Space Mono";
  src: url("../fonts/Space-Mono.woff")format("woff"),
    url("../fonts/Space-Mono.woff2")format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OCRAStd';
  font-weight: normal;
  font-style: normal;
  src: local("OCRAStd"), url(../fonts/OCRAStd.woff) format('woff');
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #000 !important;
  overflow: hidden;
}

canvas {
  display: block;
  user-select: none;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.welcome-window {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.3rem;
  text-shadow: 0px 0px 10px #0ae2ff;
  color: #0ae2ff;
  pointer-events: none;
  opacity: 1;
  animation: fadeOut 1s forwards;
  animation-delay: 2s;
}

.corner-buttons {
  font-size: 1.2rem;
  position: absolute;
  bottom: 20px;
  right: 20px;
  transition: opacity 0.5s ease;
}

.corner-buttons.fade-out {
  opacity: 0;
}

.corner-buttons.fade-in {
  opacity: 1;
}

.dialog-style {
  position: fixed;
  inset: 0px;
  width: 400px;
  margin: auto;
}

.body-style {
  padding: 20px;
}

.transparent-bg {
  background-color: #000000bd !important;
}

.rain-speed-container {
  padding-top: 10px;
  padding-bottom: 20px;
}

.rain-speed-container button {
  width: 50px;
}

.select-wrapper {
  padding-top: 10px;
}

.window-logo {
  filter: brightness(2000%);
  height: 13px;
}

.select-style {
  width: 150px;
}

.skeet-message-dialog {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.skeet-url-link a {
  color: #0ae2ff;
}

.skeet-url-link a:visited {
  color: #c60aff;
}

.filter-input {
  width: 100%;
}

.filter-warning {
  padding-top: 20px;
  display: none;
}

.filtered-list {
  margin-top: 20px;
  display: grid;
  grid-gap: 10px;
}

.filtered-word {
  color: #0ae2ff;
}

.credits {
  position: absolute;
  right: 10px;
  bottom: 10px;
}